@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;

  background-color: #f5f5f5;
}

.home-header {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  background-color: #121212; 
  padding: 15px 20px; 
  color: #ecf0f1; 
  font-family: "Arial", sans-serif;
}

.home-header a {
  text-decoration: none; 
  color: #ecf0f1; 
  transition: color 0.3s; 
}

.home-header a:hover {
  color: #3498db;
}

.home-header h1 {
  font-size: 24px; 
  margin: 0; 
  flex-grow: 1; 
  text-align: center; 
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex: 1;

  padding: 5px;
}

.game {
  border: 1px solid black;
  display: flex;
}

.start-screen {
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;

  width: 100%;
  height: 100%;
  padding: 10px;

  background: linear-gradient(45deg, var(--cor2), var(--cor3), var(--cor2));
}

.start-screen > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.start-screen button {
  padding: 10px 20px;

  background-color: var(--cor3);
  border: none;
  border-radius: 10px;
  outline: none;

  color: var(--cor6);
  font-size: 1.5rem;

  cursor: pointer;
  box-shadow: 0px 5px 15px #00000033;
}

.start-screen button:hover {
  transition: background-color 0.3s;
  background-color: var(--cor2);
}

.game-screen {
  position: absolute;

  display: none;
  flex-direction: column;

  width: 100%;
}

.game-screen header {
  display: flex;
  justify-content: space-between;

  padding: 5px;

  background-color: var(--cor6);
  border: 1px solid var(--cor6);
  border-bottom: none;
}

.game-screen header h2 {
  color: var(--cor1);
  font-size: 1rem;
}

.game-screen div {
  display: flex;
  gap: 10px;
}

.game-screen header button {
  display: flex;
  justify-content: center;
  align-items: center;

  background: none;
  border: 1px solid var(--cor1);
  border-radius: 5px;

  cursor: pointer;
}

.game-screen header span {
  color: var(--cor1);
  font-size: 1rem;
}

canvas {
  width: 450px;
  height: 450px;

  border: 1px solid red;
}

.gameover-screen {
  position: absolute;

  display: none;
  justify-content: center;
  align-items: center;

  background-color: #000000af;
  color: #ffffff85;

  width: 100%;
  height: 100%;
}

.gameover-screen button {
  width: 150px;
  padding: 10px;

  background-color: var(--cor3);
  border: none;
  border-radius: 10px;
  outline: none;

  color: var(--cor6);
  font-size: 1rem;

  cursor: pointer;
  box-shadow: 0px 5px 15px #00000033;
}

.gameover-screen button:hover {
  transition: background-color 0.3s;
  background-color: var(--cor2);
}

.settings-screen {
  position: absolute;

  display: none;
  flex-direction: column;

  width: 100%;
  height: 100%;

  background-color: var(--cor1);

  overflow-y: auto;
}

.settings-screen header {
  display: flex;
  justify-content: space-between;

  padding: 5px;

  background: linear-gradient(45deg, var(--cor2), var(--cor3));
}

.settings-screen header h2 {
  font-size: 1rem;
}

.settings-screen header button {
  display: flex;
  justify-content: center;
  align-items: center;

  background: none;
  border: none;

  cursor: pointer;
}

.settings-screen header button span {
  color: var(--cor6);
}

.settings-screen section {
  padding: 10px;
}

.settings-screen section h3 {
  font-weight: 300;
}

.btn-direction {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, fr);
  gap: 5px;

  width: min-content;
}

.btn-direction button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
  width: 50px;

  background-color: var(--cor2);
  border: none;
  border-radius: 10px;

  color: var(--cor6);

  cursor: pointer;
}

.up {
  grid-column: 2;
  grid-row: 1;
}

.left {
  grid-column: 1;
  grid-row: 2;
}

.right {
  grid-column: 3;
  grid-row: 2;
}

.down {
  grid-column: 2;
  grid-row: 3;
}

.center {
  grid-column: 2;
  grid-row: 2;
}

.btn-direction button:active {
  transition: background-color 0.3s, color 0.3s;
  background-color: var(--corTexto);
  color: var(--cor04);
}

.btn-direction button span {
  color: inherit;
}

.speed-option {
  display: flex;
  gap: 15px;
}

.speed-option button {
  flex: 1;

  background: var(--cor4);
  border: none;

  color: var(--cor1);

  cursor: pointer;
}

.toggle-option {
  display: flex;
  align-items: center;
  gap: 15px;
}

.toggle-option button {
  display: flex;
  background: none;
  border: none;

  cursor: pointer;
}

.toggle-option span {
  color: #7ff26d;
  font-size: 2.5rem;
}

.color-option {
  display: flex;
  gap: 15px;
}

.color-option button {
  width: 20px;
  height: 20px;

  border: none;
  border-radius: 50%;

  cursor: pointer;
  color: #202020;
}

.thermal {
  background: linear-gradient(110deg, #ff0000, #ffa500, #ffff00);
}

.cavern {
  background: linear-gradient(110deg, #000000, #202020, #000000);
}

.ice {
  background: linear-gradient(110deg, #6048cf, #4f76be, #4f98c9);
}

.green {
  color: #991818;
}
